*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container{
max-width: 1200px;
width: 100%;
margin: 0 auto;
}

.parent{
    display: flex;
gap: 30px;
align-items: center;
background-color: yellow;
border-radius: 50px;
margin-top: 50px;
padding: 86px 78px 56px 78px;
flex-wrap: wrap;
justify-content: center;

}

.box{
width: 200px;
height: 200px;
background-color: rgb(56, 21, 21);
border: 1px solid #CCC;

}



.title{
color: white;
background-color: red;
width: 133px;
height: 78px;
margin: 0 auto;
margin-top: 50px;
text-align: center;
align-items: center;


}

.body{
background-color: darkblue;

}




